@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-3xl: 1600px;
}
body {
  background-color: #04050f;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: clip;
}
/* Modal Scrollbar */

.modal-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.modal-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 90px;
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  background: #45c7f0;
  border-radius: 999px;

  border: 1px solid transparent;
  background-clip: padding-box;
}

.modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #45c7f0;
}
[id] {
  scroll-margin-top: 100px;
}
/* Hide Scrollbar */
#agenda {
  scroll-margin-top: -90px;
}
#faq {
  scroll-margin-top: 50px;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Dark Select */

select {
  background-color: #040516;
  color: white;
}

select option {
  background-color: #040516;
  color: white;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes partners-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-partners-marquee {
  animation: partners-marquee 18s linear infinite;
}
